<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1">
        <assemblies>
          <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
<add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.6.1"/>
      <authentication mode="Windows"/>
    </system.web>
    <connectionStrings>
        <remove name="RemoteSqlSever"/>
        <clear/>
        <add name="RemoteSqlServer"
            connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Classifieds;Data Source=dceu-sql08-01.corp.winid.net"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
<system.webServer>
    <modules>
    </modules>
    <handlers>
      <add verb="*" path="fs/*" name="SecureFileHandler" type="IISSite.Modules.SecureFileHandler, IISSite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4323a5b51d90d9c5" />
    </handlers>
  </system.webServer>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
</dependentAssembly>
<dependentAssembly>
<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>
