<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1">
        <assemblies>
          <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
<add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.6.1"/>
      <authentication mode="Windows" />
    </system.web>
    <connectionStrings>
        <remove name="RemoteSqlSever" />
        <clear />
        <add name="RemoteSqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Classifieds;Data Source=dceu-sql08-01.corp.winid.net" providerName="System.Data.SqlClient" />
    </connectionStrings>
<system.webServer>
    <modules>
    </modules>
    <handlers>
      <!--<add verb="*" path="fs/*" name="SecureFileHandler" type="IIsSite.SecureFileHandler, IisSite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ee09a08fff1a85c9" />-->
    </handlers>
  </system.webServer>
</configuration>
