<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
      <allow roles="Domain Users" />
    </authorization>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="IISSite.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a729bdc7657baf72" />
        <add assembly="IISSite.Pages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a729bdc7657baf72" />
      </assemblies>
    </compilation>
  </system.web>
    <system.webServer>
        <security>
            <authentication>
                <windowsAuthentication useAppPoolCredentials="true" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
